body {
    background-color: grey;
    background: url(../image.png) no-repeat center grey;
    background-size: cover;
}

button {
    background: lightgrey;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

button hover {
    background: darkgray;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;

}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    display: flex;

}

input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    border: none;
}